{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",  // Не нужен в проектах с React 17+
    "react/prop-types": "off"           // Отключает проверку prop-types
  },
  "settings": {
    "react": {
      "version": "detect"               // Автоматическое определение версии React
    }
  }
}